.cards {
  border-bottom: 1px solid #21212166;
}

.cards__list {
  margin: 20px 0 0;
  padding: 0 0 40px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .cards__list {
    margin: 20px auto 0;
    grid-template-columns: repeat(auto-fit, 280px);
  }
}
