.profile {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  border-bottom: solid 1px rgba(33, 33, 33, 0.4);
}

.profile__content {
  display: flex;
  gap: 20px;
}

.profile__avatar {
  height: auto;
  width: auto;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__name {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-bottom: 12px;
}

.profile__job-title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
  opacity: 0.7;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  padding: 0;
  border: none;
  background-color: #fcf5e5;
  display: flex;
  justify-content: flex-start;
  color: #212121;
  opacity: 0.7;
  gap: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__new-post-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile__new-post-button {
  height: 52px;
  width: 149px;

  color: #fcf5e5;
  background-color: #212121;
  gap: 8px;
  border-radius: 8px;
  font-size: 16px;
  border: 0;
}

.profile__new-post-button:hover {
  opacity: 0.8;
}
.profile__plus-icon {
  margin: 0;
  padding-right: 8px;
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    align-items: center;

    margin: auto;
  }
  .profile__content {
    display: flex;
    flex-direction: column;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: auto;
  }

  .profile__description {
    gap: 6px;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__job-title {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
  }

  .profile__edit-button {
    justify-content: center;
    padding-bottom: 20px;
  }

  .profile__new-post-column {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .profile__new-post-button {
    max-width: 288px;
    width: 100%;
  }
}
